.prescriptions-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem 0 1rem;
}

.prescriptions-header a {
    border: 2px solid #07bc0c;
    border-radius: 4px;
    background: #d8ecd9;
    text-decoration: none;
    font-size: 12px;
    padding: .25rem .5rem;
    font-weight: 600;
    color: #000;
}

.prescription-wrapper {
    margin: 1rem;
    overflow-x: auto;
    scrollbar-width: thin;
}

.prescription-wrapper .table {
    width: fit-content;
    border: 1px solid #cccccc;
    border-radius: 10px;
}

.prescription-wrapper .table .table-header p:nth-child(1),
.prescription-wrapper .table .table-row p:nth-child(1) {
    width: 30px;
}

.prescription-wrapper .table .table-header p:nth-child(3),
.prescription-wrapper .table .table-row p:nth-child(3) {
    width: 120px;
}

.prescription-wrapper .table .table-header p:nth-child(4),
.prescription-wrapper .table .table-row p:nth-child(4) {
    width: 100px;
}

.prescription-wrapper .table .table-header p:nth-child(6),
.prescription-wrapper .table .table-row p:nth-child(6) {
    width: 30px;
}

.prescription-wrapper .table .table-header p:nth-child(7),
.prescription-wrapper .table .table-row p:nth-child(7) {
    width: 180px;
}

.prescription-wrapper .table .table-header p:nth-child(8),
.prescription-wrapper .table .table-row p:nth-child(8) {
    width: 60px;
}

.prescription-wrapper .table .table-header p:nth-child(9),
.prescription-wrapper .table .table-row p:nth-child(9) {
    width: 40px;
}

.prescription-wrapper .table .table-header p:nth-child(10),
.prescription-wrapper .table .table-row p:nth-child(10) {
    width: 140px;
}

.prescription-wrapper .table .table-header p:nth-child(11),
.prescription-wrapper .table .table-row p:nth-child(11) {
    width: 140px;
}

.prescription-wrapper .table .table-header p:nth-child(13),
.prescription-wrapper .table .table-row p:nth-child(13) {
    width: 160px;
}

.prescription-wrapper .table .table-header p:nth-child(14),
.prescription-wrapper .table .table-row p:nth-child(14) {
    width: 160px;
}

.prescription-wrapper .table .table-header p:nth-child(15),
.prescription-wrapper .table .table-row p:nth-child(15) {
    width: 60px;
}