.TransferForm {
    display: flex;
    padding: 2rem;
    font-family: sans-serif;
    gap: 2rem;
}

.transfer-form {
    width: 400px;
}

.transfer-form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 1rem;
    background: white;
}

.transfer-form-wrapper button {
    border: 1px solid #0ea512;
    border-radius: 4px;
    background: #c9deca;
    padding: .5rem;
    color: #2b2b2b;
}

.transfer-selection-wrapper button {
    border-radius: 4px;
    background: #eeeeee;
    padding: .5rem;
    border: 1px solid #9f9f9f;
}

.pharmacy-selection-wrapper button {
    border-radius: 4px;
    background: #eeeeee;
    padding: .5rem;
    border: 1px solid #9f9f9f;
}