.PatientInfo {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100vh;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: width .25s ease-in-out;
    overflow: hidden;

    /* Prevent text wrapping and layout shift */
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
}

.PatientInfo h3 {
    padding: 1rem;
    border-bottom: 1px solid #efefef;
}

.patient-info-wrapper {
    padding: 1rem;
    width: calc(100% - 2rem);
}

.patient-info-wrapper p {
    font-size: 12px;
}

.patient-info-wrapper button {
    display: flex;
    align-items: center;
    border: 0;
    margin: .5rem 0;
    background-color: rgb(205, 236, 207);
    padding: 8px;
    border-radius: 5px;
    width: 100%;
}

.patient-info-wrapper button svg {
    background: #829b7e;
    width: 15px;
    height: 15px;
    border-radius: 3px;
    padding: 4px;
    margin-right: 5px;
    color: white;
}