.employees-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem 0 1rem;
}

.employee-action-item {
    display: flex
}

.employee-action-item button {
    margin-left: .5rem;
    background-color: transparent;
    border: 1px solid #cccccc;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
}

.employee-wrapper {
    margin: 1rem;
    overflow-x: auto;
    scrollbar-width: thin;
}

.employee-wrapper .table {
    width: fit-content;
    border: 1px solid #cccccc;
    border-radius: 10px;
}

.employee-wrapper .table .table-header p:nth-child(1),
.employee-wrapper .table .table-row p:nth-child(1) {
    width: 30px;
}

.employee-wrapper .table .table-header p:nth-child(3),
.employee-wrapper .table .table-row p:nth-child(3) {
    width: 100px;
}

.employee-wrapper .table .table-header p:nth-child(4),
.employee-wrapper .table .table-row p:nth-child(4) {
    width: 180px;
}

.employee-wrapper .table .table-header p:nth-child(5),
.employee-wrapper .table .table-row p:nth-child(5) {
    width: 80px;
}

.employee-wrapper .table .table-header p:nth-child(6),
.employee-wrapper .table .table-row p:nth-child(6) {
    width: 40px;
}