.LoginForm {
    background-image: url("../../../assets/images/login-wallpaper.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.login-form {
    width: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: white;
    justify-content: center;
}

.login-form button {
    margin-top: 1rem;
}