.TransferSummary {
    width: 550px;

    font-family: sans-serif;
}

.TransferSummary h2 {
    text-align: center;
}

.transfer-summary-info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 2rem;
}

.transfer-summary-info label {
    font-weight: 600;
}

.transfer-summary-info p {
    margin-top: .25rem;
}