.PrescriptionForm {
    display: flex;
    padding: 1rem;
    font-family: sans-serif;
    justify-content: space-around;
    gap: 2rem;
}

h2 {
    text-align: center;
}

.prescription-form {
    width: 700px;
}

.prescription-form-wrapper {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 1rem;
    background: white;
}